<form [formGroup]="commentForm">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <label>Name </label>
      </div>
      <div class="col-xs-12">
        <input type="text" formControlName="name">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <label>Email: </label>
      </div>
      <div class="col-xs-12">
        <input type="text" formControlName="email">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <label>Website: </label>
      </div>
      <div class="col-xs-12">
        <input type="text" formControlName="website">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <label>Comments: </label>
      </div>
      <div class="col-xs-12">
        <input type="text" formControlName="comment">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button (click)="onSave()">Save</button>
      </div>
      <div class="col-xs-6">
        <button (click)="onBack()">Back</button>
      </div>
    </div>

  </div>
</form>
